# =============== #
# Unity generated #
# =============== #
Project\ Folder/[Tt]emp/
Project\ Folder/[Oo]bj/
Project\ Folder/[Bb]uild
Project\ Folder/[Ll]ibrary/
Project\ Folder/sysinfo.txt
Project\ Folder/*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
Project\ Folder/[Ee]xported[Oo]bj/
Project\ Folder/.vs/
Project\ Folder/*.userprefs
Project\ Folder/*.csproj
Project\ Folder/*.pidb
Project\ Folder/*.suo
Project\ Folder/*.sln*
Project\ Folder/*.user
Project\ Folder/*.unityproj
Project\ Folder/*.booproj
Project\ Folder/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
